@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 90% "Lato", Arial, sans-serif;
  padding: 2% 0;
  color: white;
}

.people-list {
  background: #444753;
}

@media (min-width:768px){
  .people-list {
    height: 100%;
  }
}

.people-list ul {
  padding: 1%;
  height: 80%;
  overflow-x: scroll;
}
.people-list ul li {
  padding-bottom: 10%;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 5%;
  color: white;
}
.people-list .about {
  padding-left: 5%;
}
.people-list .status {
  color: #92959E;
}

.chat {
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  height: 100%
}
.chat .chat-header {
  padding: 3%;
  border-bottom: 2px solid white;
  height: 10%;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 2%;
  margin-top: 1%;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 100%;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 100%;
  margin-top: 3%;
}
.chat .chat-history {
  padding: 5% 5% 10%;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 70%;
  width: 100%;
}
.chat .chat-history .message-data {
  margin-bottom: 1%;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 2%;
}
.chat .chat-history .message {
  color: white;
  padding: 1% 1%;
  line-height: 26px;
  font-size: 100%;
  border-radius: 2%;
  margin-bottom: 10%;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 2%;
  height:20%;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 1% 1%;
  font: 70% "Lato", Arial, sans-serif;
  border-radius: 2%;
  margin-bottom: 1%;
  resize: none;
  height: 85%;
}
.chat .chat-message input {
  border: none;
  padding: 2% 3%;
  font: 100% "Lato", Arial, sans-serif;
  margin-bottom: 1%;
  border-radius: 2%;
  resize: none;
  height: 85%;
  max-height: 80px;
  min-height: 38px;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 100%;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  height: 85%;
  max-height: 80px;
  min-height: 38px;
  font-size: 100%;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

@media (max-height: 500px){
  .chat .chat-history {
    height: 50%;
  }
}

@media (min-height: 780px){
  .chat .chat-history {
    height: 75%;
  }
}

.online, .offline, .me {
  margin-right: 1%;
  font-size: 90%;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.avatar-deer, .avatar-bear, .avatar-owl, .avatar-fox, .avatar-dog, .avatar-bird, .avatar-bee, .avatar-panda, .avatar-monkey {
  background-image: url('../images/avatar-animals.png');
  background-repeat: no-repeat;
  float: left;
  background-size : 200px;
  height: 58px;
  width: 58px;
}

.avatar-deer {
  background-position: -5px -3px;
}

.avatar-bear {
  background-position: -72px -3px;
}

.avatar-owl {
  background-position: -142px -3px;
}

.avatar-fox {
  background-position: -5px -68px;
}

.avatar-dog {
  background-position: -72px -68px;
}

.avatar-bird {
  background-position: -142px -68px;
}

.avatar-bee {
  background-position: -2px -132px;
}

.avatar-panda {
  background-position: -72px -132px;
}

.avatar-monkey {
  background-position: -142px -132px;
}
